


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    font-size: 16px;
}
ul, ol {
    margin: 0;
    padding: 0;
}
a, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
select {
    box-shadow: none;
    outline: none;
}
.section-padding {
    padding: 110px 0;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h2 {
    font-weight: 700;
    font-size: 32px;
}
@media (min-width: 768px) {
    .section-title h2 {
        font-size: 48px;
    }
}
.section-title p {
    font-weight: 300;
    font-size: 18px;
}


header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1024;
}
@media (max-width:767px) {
    header.is-sticky {
        position: sticky;
    }
}
.brand-logo img {
    max-width: 80px;
}
@media (min-width: 768px) {
    header {
        padding: 80px 0;
        background-color: transparent;
    }
    .brand-logo img {
        max-width: inherit;
    }  
}
.site-navigation {
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    margin-top: 30px;
    transition: all 0.4s;
}
nav.site-navigation.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background: #000;
    border: 0;
    z-index: 1024;
}
.site-navigation ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 16px 18px;
}
.site-navigation.is-sticky ul li a.active {
    background-color: #ffd700;
}
.navbar-toggle {
    color: #fff;
    font-weight: 300;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: -101%;
    height: 100%;
    width: 300px;
    background: #000;
    padding: 10px 0;
    padding-top: 120px;
    transition: all 0.4s;
    z-index: -1;
}
.mobile-menu.menu-active {
    left: 0;
}
.mobile-menu .navigation {
    border: none;
    margin: 0;
}
.mobile-menu ul li.list-inline-item a {
    padding: 12px 20px;
    display: block;
    color: #fff;
}
.mobile-menu ul li.list-inline-item {
    display: block;
    margin-right: 0;
}




.hero {
    min-height: 680px;
    max-height: 780px;
    padding-top: 8rem;
}
@media (min-width: 768px) {
    .hero {
        min-height: 1024px;
        max-height: 1100px;
        padding-top: 20rem;
    }  
}
@media (min-width: 992px) {
    .hero {
        height: 100vh;    
    }   
}

.hero h6 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}
.hero h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 20px 0;
}
@media (min-width: 768px) {
    .hero h1 {
        font-size: 60px;
    }
    .hero h6 {
        font-size: 26px;
    }
}
.hero p {
    max-width: 560px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
}

.photos, .videos,  .biography {
    z-index: 1;
}
.videos::before,
.photos::before,

.biography::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: -1;
}
.photos .photo-item {
    cursor: pointer;
}

.modal-track {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 15px;
    width: 100%;
}
.modal-track.bottom {
    bottom: -100%;
    transition: all 0.3s;
}
.modal-track.bottom.open {
    z-index: 1003;
    display: block;
    bottom: 0px;
}

.music-slider .slick-list {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}
.music-slider .slider-item {
    opacity: 0.7;
    transition: 0.3s;
    transform: scale(1);
}
.music-slider .slider-item.slick-current.slick-active.slick-center {
    opacity: 1;
    transform: scale(1.3);
    z-index: 1;
}


.videos .video-box {
    position: relative;
    overflow: hidden;
}
.videos .video-box img {
    transition: all 0.4s;
    transform: scale(1);
}
.videos .video-box .box-overlay {
    position: absolute;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.videos .video-box .box-overlay .fa-play {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #ffd700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd700;
    transition: all 0.4s;
    opacity: 0;
}
.videos .video-box:hover img {
    transform: scale(1.06);
}
.videos .video-box:hover .box-overlay .fa-play,
.videos .video-box:hover .box-overlay {
    opacity: 1;
}

.videos .video-box:hover .box-overlay .fa-play {
    transform: translate(-50%, -50%) scale(1);
}

.biography .text h3 {
    border-left: 4px solid #ffd700;
    padding-left: 15px;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 60px;
}
.biography .text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}
.biography .text a {
    text-decoration: none;
    color: #ffff;
    background-color: #ffd700;
    padding: 14px 26px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 3px;
}


 .textbox {
    border: 10px solid #fff;
    padding: 80px 40px;
}
 .textbox h1 {
    font-weight: 700;
    font-size: 48px;
}
.textbox p {
    font-size: 26px;
    font-weight: 300;
    line-height: 46px;
    margin: 30px 0;
}
 .textbox a {
    text-decoration: none;
    border: 2px solid #ffd700;
    background-color: #ffd700;
    padding: 12px 24px;
    color: #fff;
    margin-top: 15px;
    display: inline-block;
}


.contact-form label {
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 5px;
}
.contact-form input {
    height: 45px;
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 0;
    color: #ffffff;
    font-weight: 300;
}
.contact-form textarea {
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 0;
    color: #ffffff;
    font-weight: 300;
}
.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: none;
    background-color: transparent;
    border-color: #666666;
    color: #ffffff;
}
.contact-form .submit-btn {
    padding: 14px 28px;
    background-color: #ffd700;
    border: none;
    border-bottom: 2px solid #cc0000;
    color: #ffffff;
}




.footer-top {
    background-color: #0a0a0a;
    padding: 80px 0;
}
.footer-top .widget-title {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
    border-left: 4px solid #ffd700;

}
.footer-top p {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
}
.footer-top .social-link .widget-title {
    margin-bottom: 20px;
}
.footer-top .social-link a {
    color: #fff;
    font-size: 18px;
}
.footer-top .social-link a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; 
    transition: 0.3s;
}
.footer-top .social-link a i[class*='facebook'] {
    background-color: #3b5998;
}
.footer-top .social-link a i[class*='twitter'] {
    background-color: #1da1f2;
}
.footer-top .social-link a i[class*='google'] {
    background-color: #ea4335;
}
.footer-top .social-link a i[class*='instagram'] {
    background-color: #f50920;
}
.footer-top .social-link a i[class*='facebook']:hover {
    background-color: #2e477b;
}
.footer-top .social-link a i[class*='twitter']:hover {
    background-color: #1680c1;
}
.footer-top .social-link a i[class*='google']:hover {
    background-color: #ce3a2d;
}
.footer-top .social-link a i[class*='instagram']:hover {
    background-color: #b90416;
}
.footer-top ul.contacts li {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 600;
    opacity: 0.8;
}
.footer-top ul.contacts li a,
.footer-top ul.footer-menu li a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    line-height: 38px;
}
.footer-bottom p {
    font-size: 14px;
    font-weight: 300;
}